*{box-sizing: border-box;padding: 0;margin: 0;}
/* *::-webkit-scrollbar {text-decoration: none;} */

ul{list-style-type: none;}
a{text-decoration: none;}
a{color: black;}
div{font-size: 0px;}
.CON{max-width: 980px;margin:auto;}
.header_con{
    position:relative;
    display: flex;
}
.header_con > ul {
    font-size: 18px;
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.header_con > ul > a > li {
    padding:8px 20px;
    width: 112px;
    text-align: center;
}
.header_con > ul > a > li:hover{
    color: aqua;
}
.icon_con {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
}
.icon_con > h2 {
    margin-left: 10px;
    font-size: 24px;
}
.icon_con > h2 :first-child{
    position: absolute;
    top: 5px;

}
.icon_con > h2 :last-child{
    position:absolute;
    bottom: 5px;
}
.icon_con > img {
    width: 150px;
}
/*         header_end */

/*         img_con start */
.img_con {
    width: 100%;

}
.img_con > div > img {
    width: 100%;
    height: 100%;
}